@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
body,html {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans",sans-serif;
 }
 .top_bg{
      background-color: #5b00b6;
      top: 0;
          right: -100px;
          bottom: 0;
          left: 0;
          border-radius: 0 0 0 100px;
          transform: rotate(-12deg);
          transform-origin: left;
           height: 50rem; 
          position: absolute;
          background: linear-gradient(106.71deg, #4300A3 11.13%, #6100BB 65.15%, #A700F1 96.91%);
          z-index: -1; 
 }
#logo{
display: flex;
/* border: 1px solid red; */
height: 130px;
width: 100%;
margin-bottom: 10px;
/* margin-top: 90px; */
display: block;
}
#logo img{
width: 9%;
margin: 0px 0px 0px 1000px;
margin-top: 70px;
}
#heading{
display: flex;
margin: auto;
width: 100%;
}
#para{
height: auto;
width: 30%;
/* border: 1px solid red; */
font-size: 30px;
margin-left: 200px;
font-weight:700;
}
#para>h1{
margin-bottom: -30px;
}
h1{
      font-size: 50px;
      font-weight: 800;
      color: white;
}
h6{
      color: white;
}
#form{
background: #fff;
box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
border-radius: 4px;
width: 30%;
padding: 55px 25px;
box-sizing: border-box;
margin-left: 140px;

}
.inputs{
      border: none;
      outline: none;
    padding-left: 28px;
    margin-top: 16px;
 }
input::placeholder{
      font-size: 13px;
      font-family: "IBM Plex Sans",sans-serif;
}
.description{
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100%;
  border: 0;
  outline: none;
  height: 75px;
  margin-bottom: 65px;
}
.btn{
      font-family: "IBM Plex Sans",sans-serif;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: 0;
    border-radius: 5px;
      background: linear-gradient(106.71deg,#4300a3 11.13%,#6100bb 85.15%,#a700f1 116.91%)
}
.btn+p{
      font-size: 13px;
      color: gray;
}
a{
      text-decoration: none;
       color: blue;
      font-weight: 500;
}
.logo2,.second-para{
      display: flex;
      margin: auto;
      width: 75%;
      margin-top: 80px;
      height: auto;
}
.icon img{
      width: 80%;
}
.second-para>div>:nth-child(1),:nth-child(3){
   color: rgb(53, 50, 50);
   font-size: 23px;
   line-height: 1.6;
   font-weight: 100;
}
.second-para>div>:nth-child(2){
      color: rgb(31, 29, 29);
      font-size: 27px;
}
.img-mid img{
      width: 50%;
      /* border: 1px solid red; */
      margin-top: 120px;
      margin-left: 250px;
}
.para-mid{
      width: 64%;
     /* border: 1px solid blue; */
      height: 340px;
}
.para-mid>h1{
      margin-bottom: -20px;
}
.para-mid>h1+p{
      font-size: 17px;
      font-weight: 380;
}
 .second-para{
      border-bottom: 1px solid rgb(31, 30, 30);
      margin-top: 120px;
      /* width: 100%; */

} 

.footer{
display: flex;
width: 75%;
margin: auto;
margin-top: 30px;
}
.footer>div{
      display: flex;
      
}

.footer img{
      width: 30%;

}
.abc{
      margin-left: -180px;
}
