/* ------------------------------------------------------Navbar CSS------------------------------------------------ */
#navbar{
    /* border: 1px solid black; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
#leftt{
    /* border: 1px solid red; */
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#leftt>p{
    font-weight: bold;
}

#rightt{
    /* border: 1px solid red; */
    width: 25%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#siteName{
   position: relative;
   bottom: 19px;
   padding-right: 30px;
}

.dropdown{
    display: none;
    margin-left: -345px;
    position: absolute;
    /* border: 1px solid black; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 99%;
    height: auto;
    background-color: whitesmoke;
    z-index: 1;    
}

.dropdown a{
    text-decoration: none;
    color: blue;
    line-height: 30px;
}
.contain{
    /* border: 1px solid red; */
    height: 50px;
}
.contain:hover{
    cursor: pointer;
}
.contain:hover .dropdown{
    display: block;
    display: flex;
    gap: 50px;
    cursor: auto;
}
#second_dropdown{
    margin-left: -600px;
}
#third_dropdown{
    margin-left: -890px;

}

/* --------LANGUAGE SELECT & "Demo" button-------------------------- */
#changeLang{
    height: 30px;
    width: 80px;
}
#demo_btn{
    height: 35px;
    width: 120px;
    border: none;
    background-color: orange;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}
#demo_btn:hover{
    cursor: pointer;
}
/* ----------NAVBAR [UNDER "RESOURCES" DROPDOWN MENU]------------------------ */

#dropdown_left{
    /* border: 1px solid black; */
    height: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#dropdown_right{
    /* border: 1px solid blue; */
    border-radius: 20px;
    width: 30%;
    height: 200px;
    margin-top: 350px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    right: 50px;;
}
.boxx{
    /* border: 1px solid green; */
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
#book{
    height: 50px;
    border-radius: 10px;
    position: relative;
    top: 320px;
    left: 80px;
    z-index: 2;
}

/* Hamburger Dropdown Menu Option */

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #333;
    color: #fff;
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */


/*-------------------------------------------navbar CSS ends here----------------------*/

/*--------------------------------------------------------------------LOGIN & SIGNUP--------------------------------------------------------*/



#content-box{
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 90px;
    display: flex;
    padding: 20px;
    /* color: green; */
}

/*--------------left div--------------------------*/
#left{
    /* border: 1px solid red; */
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

#desc{
    display: flex;
    /* margin-top: 80px; */
}
#img{
    /* border: 1px solid green;    */
    width: 50%;
    height: 250px;
}
#para{
    /* border: 1px solid orangered; */
    width: 50%;
    height: 250px;
}
#img>img{
    width: 17%;
    position: absolute;
    top: 347px;
    left: 290px;
    clip: rect(0, 2000px, 200px, 110px);
}
.heading{
    margin-top: 25px;  
}
#logo{
    width: 12%;
    border-radius: 5px;
}

/*----------------------------right div-------------------------*/
#right{
    /* border: 1px solid red; */
    width: 50%;
}
#ls_bar{
    /* border: 1px solid black; */
    width: 100%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    background-color: blueviolet;
}
#signup{
    /* border: 1px solid black; */
    width: 50%;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    cursor: pointer;
}
#login{
    /* border: 1px solid  black; */
    width: 50%;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    cursor: pointer;
}
#ls_bar p{
    width: auto;
    font-weight: bold;
    color: white;
    
}
#switch{
    /* border: 1px solid black; */
    width: 185px;
    height: 48px;
    margin-top: 1px;
    /* margin-left: 0%; */
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    
    background-color: white;
   
}
#switch>p{
    text-align: center;
    color: black;
}
#inputs_container{
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: auto;
    text-align: center;
}
#input1{
    margin-top: 25px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid grey;
    outline: none;
    font-size: 15px;
}
#input2{
    /* margin-top: 25px; */
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid grey;
    outline: none;
    font-size: 15px;
}
#input3{
    /* margin-top: 25px; */
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid grey;
    outline: none;
    font-size: 15px;
}   
#input4{
    /* margin-top: 25px; */
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid grey;
    outline: none;
    font-size: 15px;
 
}
#input5{
    /* margin-top: 25px; */
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid grey;
    outline: none;
    font-size: 15px;

}
#btn{
    /* margin-top: 25px; */
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: orange;
    cursor: pointer;
}
#p1{
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 250px;
}
#p2{
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 250px;
}
#p3{
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 250px;
}
#p4{
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 250px;
}
#p5{
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 250px;
}
#showPass{
    position: absolute;
    top: 469px;
    left: 1048px;
    font-size: 14px;
    cursor: pointer;
}

/*---------------------------------------------------------------- Media Queries Part for Navbar */

@media screen and (min-width: 500px) and (max-width: 800px){

    #leftt{
        width: 100%;
        margin: auto;
        flex-direction: column;
        
    }

    .contain{
        height: auto;
        position: none;
    }

    .temp{
        width: 100%;
        line-height: 50px;
        margin: auto;
    }

    .dropdown{
        width: 100%;
        z-index: auto;
        margin-left: 0px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        cursor: auto;
        position: static;
        color: blue;
    }

    #second_dropdown{
        margin-left: 0px;
        color: #333;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .tim{
        display: none;
    }

    #third_dropdown{
        display: none;
    }
    
    /* .container:not:hover .dropdown{
        display: block;
        display: flex;
        gap: 50px;
        cursor: auto;
    } */

    #rightt{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        /* text-align: left; */
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #leftt{
        position:fixed;
        left: 100%;
        top: 80px;
        gap: 0;
        width: 100%;
        transition: 0.3s;
        background-color: white;
        z-index: 2;
    }

    #leftt.active, #rightt.active{
        left: 0;
    }

/*---------------media queries for login/signup--------------------------------*/

  /* #capsule{
    border-color: blue;  
    width: 80%;
    margin-left: 300px;
  } */
  #content-box{
     width: 70%;
     display: block;

  }
  #left{
    display: none;
    width: none;
    height: 0px;
    position: relative;
  }
  img{
    display: none;
    width: 0px;
  }
  #right{
    width: 100%;
  }
  #para01{
    display: none;
  }
  h4{
    display: none;
  }
  #para{
    display: none;
  }
  #ls_bar{
    margin: auto;
    width: 300px;
  }
  #signup{
    width: 190px;
  }
  #login{
    width: 190px;
  }
  #switch{
    width: 150px;
  }
  #input1{
    width: 290px;
  }
  #input2{
    width: 290px;
  }
  #input3{
    width: 290px;
  }
  #input4{
    width: 290px;
  }
  #input5{
    width: 290px;
  }
  #showPass{
    display: none;
  }
}