*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #242438;
}
/* ------------------------------------------------------Navbar CSS------------------------------------------------ */

#navbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 10px;
    background: linear-gradient(100.96deg, #4300A3 33.34%, #6100BB 71.36%, #A700F1 104.8%);
}

#leftt{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#leftt>p{
    font-weight: bold;
}

#rightt{
    /* border: 1px solid red; */
    width: 32%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#siteName{
   position: relative;
   bottom: 19px;
   padding-right: 30px;
}

.dropdown{
    display: none;
    margin-left: -320px;
    position: absolute;
    /* border: 1px solid black; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 99%;
    height: auto;
    background-color: whitesmoke;
    z-index: 1;    
    top: 65px;
}

li{
    list-style: none;
    text-decoration: none;
}

.dropdown a{
    text-decoration: none;
    color: blue;
    line-height: 30px;
}

.contain{
    height: 50px;
}

.contain:hover{
    cursor: pointer;
}

.contain:hover .dropdown{
    display: block;
    display: flex;
    gap: 50px;
    cursor: auto;
}

#second_dropdown{
    margin-left: -560px;
}

#third_dropdown{
    margin-left: -830px;

}

/* --------LANGUAGE SELECT & "Demo" button-------------------------- */
#changeLang{
    height: 30px;
    width: 80px;
}

#demo_btn{
    height: 35px;
    width: 120px;
    border: none;
    background-color: orange;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

#demo_btn:hover{
    cursor: pointer;
}
/* ----------NAVBAR [UNDER "RESOURCES" DROPDOWN MENU]------------------------ */

#dropdown_left{
    /* border: 1px solid black; */
    height: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#dropdown_right{
    /* border: 1px solid blue; */
    border-radius: 20px;
    width: 30%;
    height: 200px;
    margin-top: 350px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    right: 50px;;
}
.boxx{
    /* border: 1px solid green; */
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
#book{
    height: 50px;
    border-radius: 10px;
    position: relative;
    top: 320px;
    left: 80px;
    z-index: 2;
}

/* Hamburger Dropdown Menu Option */

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #333;
    color: #fff;
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */

/* Media Queries Part for Navbar */

@media screen and (min-width: 500px) and (max-width: 800px){

    #leftt{
        width: 100%;
        margin: auto;
        flex-direction: column;
        
    }

    .contain{
        height: auto;
        position: none;
    }

    .temp5{
        width: 100%;
        line-height: 50px;
        margin: auto;
    }

    .dropdown{
        width: 100%;
        z-index: auto;
        margin-left: 0px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        cursor: auto;
        position: static;
        color: blue;
        margin-top: 10px;
    }

    #second_dropdown{
        margin-left: 0px;
        color: #333;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }

    .tim{
        display: none;
    }

    #third_dropdown{
        display: none;
    }

    .no_hover{
        pointer-events: none;
    }

    #rightt{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #leftt{
        position:fixed;
        left: 100%;
        top: 80px;
        gap: 0;
        width: 100%;
        transition: 0.3s;
        background-color: white;
        z-index: 2;
    }

    #leftt.active, #rightt.active{
        left: 0;
    }
}
/* ----------NAVBAR [UNDER "RESOURCES" DROPDOWN MENU]------------------------ */

#dropdown_left{
    height: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#dropdown_right{
    border-radius: 20px;
    width: 30%;
    height: 200px;
    margin-top: 350px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    right: 50px;;
}
.box{
    /* border: 1px solid green; */
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
#book{
    height: 50px;
    border-radius: 10px;
    position: relative;
    top: 320px;
    left: 80px;
    z-index: 2;
}  
* {
    box-sizing: border-box;
}

.hero_area {
    background: linear-gradient(100.96deg, #4300A3 33.34%, #6100BB 71.36%, #A700F1 104.8%);
    padding-bottom: 20px;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container::before {
    display: table;
    content: " ";
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.hero_area .p-header h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 72px;
    line-height: 93.6px;
}

.hero_area .p-header p {
    color: #ffffff;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.hero_area .p-header p .section1 {
    display: inline;
}

.hero_area .p-header p a {
    border: 1px solid #fff;
    padding: 7px 13px;
    border-radius: 30px;
}

.hero_area .p-header p a {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: bold !important;
    color: #ffffff;
    position: relative;
    top: -2px;
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .hero_area .p-header h1 {
        font-size: 64px;
    }
}

.hero_area .p-body {
    margin: 60px 0;
}

.hero_area .p-body .cpr-dropd {
    display: flex;
    align-items: center;
}

.hero_area .p-body .cpr-dropd .cpr-toggle {
    display: flex;
    border-radius: 16px;
    align-items: center;
    height: 100%;
    background: rgba(242, 233, 255, 0.4);
}

.hero_area .p-body .cpr-dropd .cpr-toggle--year .cpr-toggle__year {
    background-color: #ffffff;
    border-radius: 16px;
    color: #4401A3;
    transition: background-color 0.5s ease;
}

.hero_area .p-body .cpr-dropd .cpr-toggle div {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 16px;
    cursor: pointer;
}

.hero_area .p-body .cpr-dropd .cpr-dropd__container {
    margin-left: 90px;
}

.hero_area .p-body .cpr-dropd .cpr-dropd__container .cpr-dropd__select {
    display: flex;
    padding-left: 0px;
    margin-bottom: 0px;
    border-radius: 16px;
    background-color: rgba(242, 233, 255, 0.4);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.hero_area .p-body .cpr-dropd .cpr-dropd__container .cpr-dropd__select li {
    list-style-type: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 14px;
    cursor: pointer;
}

.hero_area .p-body .cpr-dropd .cpr-dropd__container .cpr-dropd__select li.active {
    background-color: #ffffff;
    border-radius: 16px;
    color: #4401A3;
    transition: background-color 0.5s ease;
}

.hero_area .p-body .cpr-dropd .cpr-dropd__container .cpr-dropd__select li {
    list-style-type: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 14px;
    cursor: pointer;
}

.hero_area .p-footer .p-footer-inner .p-plans {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    color: #ffffff;
}

.hero_area .p-footer .p-footer-inner .p-plans .p-plan h4 {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 10px;
    position: relative;
}

.hero_area .p-footer .p-footer-inner .p-plans .p-plan h4 span {
    color: #ffc107;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: -18px;
    left: 93px;
    letter-spacing: 0.5px;
}

.p-footer-inner .p-plans .p-plan:first-child,
.p-pricing .p-plan-lists .cpr-table__col:first-child {
    order: 1;
}

.p-footer-inner .p-plans .p-plan:nth-child(2),
.p-pricing .p-plan-lists .cpr-table__col:nth-child(2) {
    order: 2;
}

.p-footer-inner .p-plans .p-plan:nth-child(3),
.p-pricing .p-plan-lists .cpr-table__col:nth-child(3) {
    order: 3;
}

.p-footer-inner .p-plans .p-plan:last-child,
.p-pricing .p-plan-lists .cpr-table__col:last-child {
    order: 4;
}

.hero_area .p-footer .p-footer-inner .p-plans .p-plan p {
    font-size: 16px;
    line-height: 23px;
}

.p-pricing {
    padding-top: 40px;
    background-color: #f8f8f8;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}
}
.p-pricing .p-plan-lists {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 15px
}
.p-pricing .p-plan-lists .cpr-table__col:first-child {
order: 1;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__header .cpr-plan__name {
display: none;
color: #4401A3;
font-weight: 400;
font-size: 36px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__header .cpr-plan__descs {
display: none;
margin-bottom: 25px;
margin-top: 15px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__header .cpr-plan__price h6 {
color: #4401A3;
font-size: 16px;
font-weight: 600;
min-height: 25px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__header .cpr-plan__price h4 {
color: #000000;
font-size: 36px;
position: relative;
line-height: 46px;
margin-top: 2px;
letter-spacing: -0.6px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__header .cpr-plan__toggle {
min-height: 25px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__header .cpr-plan__toggle .handle-toggle {
font-weight: 600;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__header .desc-wrap {
margin: 15px 0 0;
width: 230px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__header .desc-wrap .cpr-plan__desc {
min-height: 75px;
font-size: 14px;
}
strong {
font-weight: 700;
}
span.cpr-plan__tooltip {
border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
cursor: pointer;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__content {
margin-bottom: 50px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__content .cpr-plan__action .p-btn {
background-color: #4300A3;
width: 206px;
display: inline-block;
height: 57px;
text-align: center;
line-height: 57px;
border-radius: 4px;
color: #ffffff;
font-size: 16px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__footer .cpr-plan__desc .users {
font-size: 24px;
color: #000000;
line-height: 31px;
margin-bottom: 30px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__footer .cpr-plan__desc .cpr-plan__highlight {
margin-bottom: 14px;
font-weight: 600;
font-size: 16px;
}

.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__footer .cpr-plan__desc .cpr-plan__highlight {
margin-bottom: 5px;
font-weight: 600;
font-size: 14px;
min-height: 23px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__footer .cpr-plan__desc .cpr-plan__list {
padding-left: 0;
list-style-type: none;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__footer .cpr-plan__desc .cpr-plan__list li {
position: relative;
padding-left: 20px;
font-weight: 300;
font-size: 14px;
margin-bottom: 15px;
}

.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__footer .cpr-plan__desc .user-empty {
min-height: 30px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__footer .cpr-plan__desc .user-empty {
min-height: 35px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__footer .cpr-plan__desc .users {
font-size: 24px;
color: #000000;
line-height: 31px;
margin-bottom: 30px;
}
.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__footer .cpr-plan__desc .cpr-plan__highlight {
margin-bottom: 14px;
font-weight: 600;
font-size: 16px;
}

.p-pricing .p-plan-lists .cpr-table__col .cpr-plan .cpr-plan__footer .cpr-plan__desc .cpr-plan__highlight {
margin-bottom: 5px;
font-weight: 600;
font-size: 14px;
min-height: 23px;
}
.p-actions {
padding: 60px 0 120px 0px;
background-color: #f8f8f8;
}
.text-center {
text-align: center;
}
.container:before{
display: table;
content: " ";
}
.row {
margin-right: -15px;
margin-left: -15px;
}
.p-actions .p-bottom .compare {
display: inline-block;
}
a {
color: #337ab7;
text-decoration: none;
background-color: transparent;
cursor: pointer;
}
.p-actions .p-bottom .compare a span {
font-weight: 600;
color: #0026E6;
font-size: 20px;
position: relative;
}

.show-item .show-desktop {
display: block;
}
.show-item span {
display: none;
}
.p-actions .p-bottom .compare a span::after {
content: "";
background: url(../images/pricings/cn-arrow-blue.svg) no-repeat;
display: inline-block;
width: 13px;
height: 12px;
margin-left: 8px;
transition: 0.3s ease;
vertical-align: middle;
}
.p-actions .p-bottom .compare a span {
font-weight: 600;
color: #0026E6;
font-size: 20px;
position: relative;
}
.show-item span {
display: none;
}
.p-startups {
    padding: 100px 0;
}
/* @media (min-width: 1200px){
    .container2 {
        width: 1170px;
    }
} */

/* @media (min-width: 992px){
    .container2 {
        width: 970px;
    }
}  */
@media (min-width: 768px){
    .container2 {
        width: 750px;
    }
}
.container2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.p-startups .s-parent .s-i-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
}
.s-left {
    text-align: left;
}
.p-startups .s-parent .s-i-parent .s-left img {
    margin: 0 auto;
    max-width: 390px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border: 0;
}
.p-startups .s-parent .s-i-parent .s-right .s-top {
    font-size: 24px;
    line-height: 19px;
    font-weight: 600;
    /* color: #000000; */
}
.p-startups .s-parent .s-i-parent .s-right .s-middle {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    margin: 30px 0;
}
b, strong {
    font-weight: 700;
}
.p-startups .s-parent .s-i-parent .s-right .s-bottom a {
    background: linear-gradient(100.96deg, #4300A3 33.34%, #6100BB 71.36%, #A700F1 104.8%);
    border-radius: 4px;
    width: 172px;
    display: inline-block;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    color: white;
    text-align: center;
}
.p-startups .s-parent .s-i-parent .s-right .s-bottom a::after {
    content: "";
    background: url(../images/icon/arrow/cn-arrow-white.svg) no-repeat;
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-left: 8px;
    transition: 0.3s ease;
    vertical-align: middle;
}

#page {
    background-color: #f8f8f8;
}
#box11 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 0px 40px 0px 10px;
    height: auto;
    /* width: 1500px; */
    /* padding: 50px;
    margin-left: 80px; */
}
.boxleft {
    height: 600px;
    width: 750px;
    float: left;
    margin: 0px 10%;
    background-color: #f8f8f8;
    font-weight: 600;
    line-height: 40px;
}
#boxright{
    background-color: white;
    padding: 70px 40px 40px 40px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 44%);
}

#bx1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    
}
.h3 {
    width: 470px;    
    float: left;
}

.image1 {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
#logo {
    height: 30px;
    width: 120px;
    margin: 10px;
}
.image2 {
    height: 200px;
    width: 150px;
    margin: 0px 40px;
    float: left;
}
.h {
   
    height: 100px;
    width: 470px;    
    float: left;
    margin: 40px 20px;
    font-size: 25px;
}
.lastbox1 {
    background-color: darkblue;
    border-radius: 5px;
    height: 50px;
    width: 250px;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}

#dh1::before {
    content: "";
    background: url(../images/pricings/arrow.svg) no-repeat;
    width: 66px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: -40px;
}

#form{
    margin: 20px;
    background: #fff;
    box-shadow: 0 4px 4px rgba(206, 10, 10, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 140px;
    
    }
    .inputs{
        padding-left: 28px;
        margin-top: auto;
        padding: 20px;
        color: #00000a;
        font-size: 14px;
        line-height: 16px;
        border: 1px solid transparent;
        border-radius: 0;
        background-color: #fff;
        padding: 8px 10px;
        position: relative;
        outline: 0;
   }
   input::placeholder{
    font-size: 13px;
    font-family: "IBM Plex Sans",sans-serif;

}
.description{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* width: 80%; */
    border: 0;
    outline: none;
    height: 75px;
    margin-bottom: 65px;
}
.btn{
    font-family: "IBM Plex Sans",sans-serif;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: 0;
    border-radius: 5px;
    background: linear-gradient(106.71deg,#4300a3 11.13%,#6100bb 85.15%,#a700f1 116.91%)
}
.btn+p{
    font-size: 13px;
    color: gray;
}
/* a{
    text-decoration: none;
     color: blue;
    font-weight: 500;
} */

.p-st {
    padding: 100px 0;
}
.container3 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.p-st .s-par1 .s-i-par1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
/* body {
    font-family: var(--ff_primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #242438;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
} */
.p-st .s-par1 .s-i-par1 .s-lf {
    text-align: center;
}
.img-responsive{
display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border: 0;
}
.p-st .s-par1 .s-i-par1 .s-lf img {
    margin: 0 auto;
    max-width: 390px;
}
.p-st .s-par1 .s-i-par1 .s-rg .s-top {
    font-size: 24px;
    line-height: 19px;
    font-weight: 600;
    color: #000000;
}
.p-st .s-par1 .s-i-par1 .s-rg .s-mid {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    margin: 30px 30px 0px 0px;
}

.p-st .s-par1 .s-i-par1 .s-rg .s-bt h5 {
    background: linear-gradient(100.96deg, #4300A3 33.34%, #6100BB 71.36%, #A700F1 104.8%);
    border-radius: 4px;
    width: 172px;
    display: inline-block;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
}
/* .p-st .s-par1 .s-i-par1 .s-rg .s-bt a::after {
    content: "";
    background: url(../images/icon/arrow/cn-arrow-white.svg) no-repeat;
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-left: 8px;
    transition: 0.3s ease;
    vertical-align: middle;
} */
/* :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

.p-q {
    padding-top: 120px;
    width: 70%;
    margin: auto;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    font-family: var(--ff_primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #242438;
    /* -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; */
}
.container4 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.rows:before {
    display: table;
    content: " ";
}
.sm-10{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.rows {
    display: flex;
    /* width: 80%; */
    margin: auto;
    margin-right: -15px;
    margin-left: -15px;
}
.panels__tle {
    color: #191919;
    font-size: 24px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 50px;
}
.panels__container {
    border: 1px solid rgba(90, 122, 190, 0.1);
    border-radius: 2px;
}
.cb-panel:not(:last-child) {
    border-bottom: 1px solid rgba(90, 122, 190, 0.1);
}
.cb-panel {
    padding: 30px 42px 30px 30px;
    cursor: pointer;
    position: relative;
    transition: 0.1s ease-out;
}
.cb-panel {
    padding: 30px 42px 30px 30px;
    cursor: pointer;
    position: relative;
    transition: 0.1s ease-out;
}
.cb-panel__desc {
    display: none;
    margin-top: 30px;
}
@media (min-width: 992px){
    .cb-panel__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transform: scale(0.8, 0.8);
        transition: box-shadow 0.2s, transform 0.2s;
    }
}
.cb-panel a {
    position: relative;
    color: #0026E6;
    font-weight: 600;
}

.cb-panel__link {
    padding: 21px 30px;
    display: block;
}
a {
    /* color: #337ab7; */
    text-decoration: none;
    background-color: transparent;
}
.cb-panel a::after {
    content: "";
    background: url(../images/pricings/cn-arrow-blue.svg) no-repeat;
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-left: 2px;
    transition: 0.3s ease;
    vertical-align: middle;
}
.col-md-6{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.cb-testimonial--secondary {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
}
.cb-testimonial--secondary .cb-testimonial__figure {
    margin: 0 auto 21px;
}
.cb-testimonial--secondary .cb-testimonial__figure > img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}
.img-responsive{
    max-width: 100%;
}
img {
    vertical-align: middle;
    border: 0;
}
.cb-testimonial--secondary .cb-testimonial__content {
    display: inline-block;
    margin-bottom: 27px;
}

.cb-testimonial__content {
    position: relative;
    text-align: center;
}
.cb-testimonial--secondary .cb-testimonial__content:before {
    content: "";
    background: url(../images/icon/quote/cb-quote.svg) no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    left: -30px;
    top: -30px;
    background-size: contain;
    opacity: 0.4;
}
.cb-testimonial--secondary .cb-testimonial__mark {
    color: #fd7144;
    font-weight: 600;
}
.cb-testimonial__content {
    position: relative;
    text-align: center;
}
.cb-testimonial--secondary .cb-testimonial__author {
    font-size: 16px;
    line-height: 21px;
}
.cb-testimonial--secondary .cb-testimonial__role {
    font-weight: bold;
}
@media (min-width: 992px){
    .cpr-panel--mt-xl {
        margin-top: 200px;
    }
}

@media (min-width: 992px){
    .cpr-panel__container {
        padding: 30px 21px;
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: 0 1px 1px 0 rgb(90 122 190 / 10%);
        border: 1px solid rgba(90, 122, 190, 0.1);
    }
}

.cpr-panel__container {
    text-align: center;
    color: #191919;
    display: block;
    transition: all 0.2s ease-out;
}
a {
    text-decoration: none;
}
@media only screen and (max-width: 500px){
    .cpr-panel__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 9px;
    }
}
.cpr-panel__desc {
    font-size: 14px;
}
.cb-panel--active .cb-panel__bg {
    background: #fff;
    transform: scale(1.04, 1.1);
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 20%);
}

#end_above{
    width: 100%;
    height: 320px;
    
    margin-top: 150px;
    background-color: #4B0082;
    position: relative;
}

#k3{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 15px;
}

#k1{
    width: 60%;
}

#big{
    font-size: 3rem;
    color: #fff;
    margin-top: 40px;
    margin-left: 40px;
}

#k2{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

#email{
    display: block;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    width: 50%;
    margin-left: 40px;
}

#btn{
    padding: 10px;
    border-radius: 20px;
    background-color: cornflowerblue;
}
#btn > a{
    color: white;
}

#alert{
    margin-top: 20px;
    margin-left: 40px;
    color: red;
    font-size: 1.3rem;
}

#k4{
    width: 300px;
    height: 400px;
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: -100px;
    left: 900px;
}

#num1{
    margin-top: 20px;
    font-size: 1.2rem;
    margin-left: 10px;
}

#num2{
    margin-top: 20px;
    margin-left: 10px;
}
#num3{
    margin-left: 10px;
}

/* footer designing Part*/
#foot {
    width: 100%;
    margin-top: 100px;
}

.comp_services {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.hover{
    margin-top: 8px;
}

#foot_icon{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.display_flex{
    color: blue;
    font-size: 18px;
    font-weight: bold;
}

.logo{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 35px;
}

.social_logo {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 35px;
}

@media screen and (min-width: 500px) and (max-width: 800px){
    .p-header {
        text-align: center;
    }
    .p-header h1 {
        margin-bottom: 15px;
    }
    .cpr-dropd {
        display: block;
    }
    .p-body .cpr-dropd .cpr-toggle {
        width: 181px;
        margin: 0 auto;
    }
    .p-body .cpr-dropd .cpr-toggle div {
        padding: 3px 16px;
    }
    .cpr-dropd .cpr-dropdown__container {
        margin-top: 20px;
    }
    .cpr-panel__container {
        padding: 30px 21px;
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: 0 1px 1px 0 rgb(90 122 190 / 10%);
        border: 1px solid rgba(90, 122, 190, 0.1);
    }
    .container2 {
        width: 750px;
    }

    #end_above{
        height: 750px;
        display: flex;
        flex-direction: column;
    }

    #k1{
        width: 100%;
        margin-top: 450px;
    }

    #k4{
        order: 2;
        top: 40px;
        left: 250px;
    }
    
    #big{
        font-size: 2rem;
        margin: 0;
        text-align: center;
    }

    #k2{
        flex-direction: column;
    }

    #email{
        margin-left: 200px;
    }

    #btn{
        display: block;
        width: 20%;
        margin: auto;
    }

    #alert{
        text-align: center;
    }

    .comp_services{
        flex-direction: column;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .container {
        width: 1170px;
    }
    .p-header h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .hero_area .p-header h1 {
        font-size: 64px;
    }
}

